.calculator{
    width: 300px;
    margin: 20px auto;
    background-color:gray;
    text-align: center;
    padding: 10px 5px;
    border-radius: 10px;
}

.disp{
    padding: 10px 0;
}

.disp input{
    width: 90%;
    padding: 10px;
    font-size: 2rem;
    background-color: lightgray;
    border: none;
    outline: none;
    text-align: right;
    color: black;
}

.btnParent button:hover{
    color: black;
    background-color: orange;
}

.btnParent button{
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    margin: 5px;
    border: none;
    border-radius: 5px;
}